{% extends 'base.html.twig' %}

{% block title %}Les Petits Gourmands - Ingrédients{% endblock %}

{% block body %}

<div class="container mt-5">
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom Ingrédient</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for ingredient in ingredients %}
    <tr class="table-primary">
      <td>{{ingredient.id}}</td>
      <td>{{ingredient.nom | capitalize}}</td>
      {% if ingredient.type == "--" %}
        <td>Non renseigné</td>
        {% else %}
        <td>{{ingredient.type}}</td>
      {% endif %}  
      <td> <a href="{{ path('ingredient.modifier', {id: ingredient.id})}}" class="btn btn-primary">Modifier</a></td>
      <td> <a href="{{ path('ingredient.supprimer', {id: ingredient.id})}}" class="btn btn-outline-danger">Supprimer</a></td>
    </tr>
  {% endfor %}  
  </tbody>
</table>
    <div class="d-flex justify-content-center navigation mt-4">
        {{ knp_pagination_render(ingredients) }}
    </div>
</div>
{% endblock %}
